{{ define "title"}}
Praneeth
{{ end }}

{{ define "main" }}
<div class="postWrapper">
    {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
    {{ if .Description}}
    	<p>{{.Description}}</p>
    {{ end }}
    {{ $hasMeta := or (.GetTerms "tags") (.GetTerms "authors") (.GetTerms "categories") (.Site.Params.published | default true) (.Site.Params.readingTime | default true) }}
    {{ if and (.Params.showMetadata | default true) $hasMeta }}
    <section class="postMetadata">
        <dl>
            {{ with .GetTerms "tags" }}
                {{ partial "taxonomy/tags.html" . }}
            {{ end }}
            {{ with .GetTerms "authors" }}
                {{ partial "taxonomy/authors.html" . }}
            {{ end }}
            {{ with .GetTerms "categories" }}
                {{ partial "taxonomy/categories.html" . }}
            {{ end }}
            {{ if .Site.Params.published | default true }}
                <dt>{{ i18n "published" }}</dt>
                {{ $formattedDate := .Date.Format "2006-01-02" }}
                <dd><time datetime="{{ $formattedDate }}">{{ .Date | time.Format ":date_long" }}</time></dd>
            {{ end }}
            {{ if .Site.Params.readingTime | default true }}
                <dt>{{ i18n "reading_time" }}</dt>
                <dd>{{ i18n "reading_time_desc" .ReadingTime }}</dd>
            {{ end }}
        </dl>
    </section>
    {{ end }}
    <div>
        {{ .Content }}
    </div>
</div>
{{ end }}
