<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <title>
        Praneeth
    </title>

    {{ partial "head.html" . }}

    <style>
        .indexPgp {
            text-align: center;
            margin-top: 0.75em;
            word-break: break-word;
        }
    </style>

</head>

<body>

    <div class="flexWrapper">
        {{ partial "header.html" . }}

        <div class="content vertical">
            <main class="main">
                <div class="indexWrapper">
                    <div>
                        <h1 class="indexHeader">{{ .Site.Params.author.name }}</h1>
                    </div>
                    {{ with .Site.Params.pgpHtml }}
                        <div class="indexPgp">{{ . | safeHTML }}</div>
                    {{ end }}
                    {{ if isset .Site.Params "social" }}
                        {{ partial "social.html" . }}
                    {{ end }}
                </div>
            </main>
        </div>


        {{ partial "footer.html" . }}
    </div>

</body>

</html>
